<div class="PP">
<h1>プライバシーポリシー</h1>
<p>アプリ開発グループUlldullは、以下のとおり個人情報保護方針を定め、個人情報の保護を推進致します。</p>

<h5>個人情報の管理</h5>
<p>当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・
  紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備の徹底等
  の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>

<h5>個人情報の利用目的</h5>
<p>お客さまからお預かりした個人情報は、ご質問に対する回答として、電子メールのご送付に利用いたします。</p>
<p>iOSアプリではIdentification For Advertisers（IDFA）、
  AndroidアプリではAndroid advertising IDを広告表示のために取得することがあります。</p>
  <br>
<h5>個人情報の第三者への開示・提供の禁止</h5>
<p>お客さまよりお預かりした個人情報は適切に管理し、個人情報を第三者に開示いたしません。</p>
<p>個人情報の安全対策</p>
<p>個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
<h5>ご本人の照会</h5>
<p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、
対応させていただきます。</p>
<h5>法令、規範の遵守と見直し</h5>
<p>保有する個人情報に関して適用される日本の法令、
  その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
<h5>プライバシーポリシーの改定</h5>
<p>必要に応じて、プライバシーポリシーの改定することがあります｡
  変更後のプライバシーポリシーをサイト上に掲載した時点で変更の効力を生じるものといたします。</p>
</div>
