<div class="top">
<h1>リリース</h1>
<h2><%= link_to("【爆速順番決めは】マッハ！順番ノ介【無料アプリ】" ,'https://play.google.com/store/apps/details?id=com.Ulldull.junbanNosuke') %></h2>
  <ul>
    <li><p>『マッハ！順番の介』
爆速！数人から数百人まで！
マッハで順番を決めましょう！</p></li>
    <li><img src="mahha.jpg"></li>
  </ul>

<h2><a href="https://keisanapp0429.herokuapp.com">KeisanApp</a></h2>
<ul>
  <li><p>基礎代謝やBMIなどを計算するWebアプリです</p></li>
  <li><img src="keisan.png">
  </li>
</ul>

<h2><a href="https://unityroom.com/games/aikido">まちのおみせ屋さん</a></h2>
<p>小学生向けの遊びながら算数ドリルをするゲームです。</p>
<ul>
  <li><p>AndoroidAppで公開予定</p></li>
  <li>
    <img src="mati1.png">
    <img src="mati2.png">
  </li>
  <li>
    <img src="mati3.png">
    <img src="mati4.png">
  </li>
</ul>
</div>
